
@font-face {
  font-family: Palanquin;
  src: url(../fonts/Palanquin/Palanquin-Medium.ttf);
}

body {
	font-weight: 400;
    line-height: 1.5;
	margin: 0;
    font-family: "Palanquin";
    -webkit-font-smoothing: antialiased;
}

/*
.gallery .controls {
	width:1000px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	z-index: 10;
	position:relative;
} */
.openButton {
	float: right;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 10px;
	Height: auto;
	padding: 0px;
}

.openButton img {

}
.closeButton {
	margin-right: 20px;
	Height: auto;
	padding: 0px;
	float:right;
}
.closeButton img  {
	max-width: 50px;
}
.hex-business
{
	width: 150px;
}
.hb-left{
	/*float:left;*/
}
.data
{
	/*float:left;*/
	/*padding:10px;*/
	position:relative;
}

.datacell {
	float:left;
	/*max-width: 33.333333%;*/
	min-width: 250px!important;
	border: 1px blue;
/*	margin: 3px;*/
	width: 33%;
	background-color: #fff;
	color: black;
	font-size: 15px;
	padding: 4px;
	display: flex;
	align-items: center;
}

.currLabel{
	width:140px;
	float:left;
}

.currAmount{
	width:150px;
	float:left;
}

.currArrow{
	width:42px;
	float:left;
}
.percent-text-up, .percent-text-down {
	width:85px;
	float:left;
}
.datarow{
	width:100%;
	padding:0;
	display:block;
	clear:both;
}
 .d-md-block {
	 clear: both;
 }

.flex-wrap {
	display: flex;
	align-items: center;
}

.navbar-expand a{
	display:block;
	top:-4px !important;
}

.stat-text {
	font-family: "Arial";
    font-size: 15px;
    /*background-color: #fff;*/
    margin-top: 7px!important;
    color: grey;
    text-align: left;
}

.table-title {
    margin-top: 8px;
    padding: 5px;
    color: #fff;
    text-align: left;
    background-color: #49a9ff;
}

.table-cell .stat-text .row
{
	background-color: transparent;
}
.hex-business-text{
    width: 140px;
    height: 96px;
    float: left;
    position: relative;
    margin-top: 0px;
}
.inline-blocks {
	display: flex !important;
	align-items: center;
	justify-content: flex-start;
}

.menu{
	display:none;
	background-color: rgb(0, 0, 0);
    width: 400px;
    height: 100%;
    z-index: 3000;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 40px;
    overflow-y: scroll;
    background-image: linear-gradient(0deg, rgb(69, 184, 255), rgb(137, 65, 252));
}

.menu-item{
	margin-left: 60px!important;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
}

.menu-title {
	font-size: 42px;
    padding-left: 10px;
	margin-left: 30px !important;
	color:#ccccff;
}

.expand {
	display: none;
}
.menu:target {
	display: block;
}
.col-md-6
{
	float: left;
}
.youtubeEmbed {
	width: 1145px;
	height: 644px;
	margin: auto;
}

.close-button {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 25px;
}

.inline-tables .table-cell {
	display: flex;
	align-items: center;
}


@media only screen and (max-width: 2400px)  {
	.youtubeEmbed {
		width: 859px;
		height: 483px;
	}
	.currLabel{
		width:140px;
	}

	.currAmount{
		width:150px;
	}

	.currArrow{
		width:42px;
	}
	.percent-text-up, .percent-text-down {
		width:85px;
	}
}
@media only screen and (max-width: 1860px) and (min-width: 1601px) {
	.currLabel{
		width:140px;
		float:left;
	}

	.currAmount{
		width:130px;
		float:left;
	}

	.currArrow{
		width:45px;
		float:left;
	}
	.percent-text-up, .percent-text-down {
		width:70px;
		float:left;
	}
}

@media only screen and (max-width: 1600px) and (min-width: 1281px)  {
	.youtubeEmbed {
		width: 859px;
		height: 483px;
	}

	.currLabel{
		width:110px;
		float:left;
	}

	.currAmount{
		width:120px;
		float:left;
	}

	.currArrow{
		width:40px;
		float:left;
	}
	.percent-text-up, .percent-text-down {
		width:70px;
		float:left;
	}
}

@media only screen and (max-width: 1280px) and (min-width: 961px)  {
	.youtubeEmbed {
		width: 859px;
		height: 483px;
	}

	.currLabel{
		width:110px;
		float:left;
	}

	.currAmount{
		width:120px;
		float:left;
	}

	.currArrow{
		width:40px;
		float:left;
	}
	.percent-text-up, .percent-text-down {
		width:70px;
		float:left;
	}
}


@media only screen and (max-width: 1024px)  {
	.inline-blocks {
		display: block !important;
	}
	.data {
		padding: 0px;
	}
}

@media only screen and (max-width: 870px)  {
	.datacell {
		width: 49%;
		margin-right: 5px;
	}
}

@media only screen and (max-width: 870px)  {
	.datacell {
		width: 100%;
		padding: 5px 10px;
	}
	.datacell .currLabel {
		width: 50%;
		font-size: 22px;
	}

	.datacell .currAmount {
		width: 30%;
		font-size: 22px;
	}

	.datacell .currArrow {
		width: 10%;
	}

	.datacell .currArrow .img{
		margin-top: 7px;
	}

	.inline-tables {
		padding-top: 10px;
	}

	.inline-tables .table-margin {
		margin-right: -15px !important;
	}

	.inline-tables .col-md-6 {
		float: none;
		width: 100%;
		max-width: 100%;
	}
	.flex-wrap {
		display: block !important;
	}
	.flex-wrap .no-padding {
		float: none;
		width: 100%;
		max-width: 100%;
	}
}



@media only screen and (max-width: 960px) {
	.youtubeEmbed {
		width: 760px;
		height: 427px;
	}

	.currLabel{
			width: 80px;
		float:left;
	}

	.currAmount{
		width: 105px;
		float:left;
	}

	.currArrow{
		width: 35px;
		float:left;
	}
	.percent-text-up, .percent-text-down {
		width:50px;
		float:left;
	}
}


@media only screen and (max-width: 800px) {
	.youtubeEmbed {
		width: 620px;
		height: 400px;
	}
}
@media only screen and (max-width: 640px) {
	.youtubeEmbed {
		width: 480px;
		height: 320px;
	}}
@media only screen and (max-width: 480px) {
	.youtubeEmbed {
		width: 356px;
		height: 240px;
	}}
@media only screen and (max-width: 360px) {
	.youtubeEmbed {
		width: 300px;
		height: 200px;
	}}
@media only screen and (max-width: 320px) {
	.youtubeEmbed {
		display:none;
	}
	/*When the player and gallery disappear the layout gets wonky*/
	.project-icons{
		padding-bottom: 50px;
	}
}
